 .App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #FFF9F0;
}

main{
  display: grid;
  margin: 40px 40px;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

@media screen and (max-width: 599px){
  main {
    margin: 80px 15px;
  }
}