@import url('https://fonts.googleapis.com/css2?family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.product{
    grid-column: 2 / span 10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 20px;
    height: 680px;
}

.product__breadcrumbs-photos{
    grid-column: 1 / 6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.product__breadcrumbs-photos::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 170px;
    background: linear-gradient(to right, transparent, #FFF9F0);
    width: 80px;
}

.product__breadcrumbs{
    display: flex;
    align-items: end;
    color: #333333;
    height: 30px;
    margin-bottom: -15px;
}

.product__breadcrumbs .icon{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.product__breadcrumbs svg{
    font-size: clamp(8px, 2vw, 30px);
    transform: translateY(20%);
}

.product__link{
    font-size: clamp(8px, 2vw, 16px);
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    transition: ease-in-out, 0.4s;
    margin: 0;
}

.product__breadcrumbs .product__link:nth-child(1):hover,
.product__breadcrumbs .product__link:nth-child(3):hover{
    color: #F1C232;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.product__photo-spicy {
    position: relative;
    height: 455px;
}

.product__photo-spicy img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    user-select: none;
}

.product__photo-spicy .icon{
    position: absolute;
    width: 48px;
    height: 48px;
    color: #DF1322;
    top: 6px;
    right: 6px;
}



.product__photos{
    display: flex;
    height: 100%;
    gap: 20px;
    flex-direction: column;
}


.product__additional-photos{
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 20px;
    flex: 1;
    position: relative;
}

.product__additional-photos img{
    border-radius: 25px;
    object-fit: cover;
    user-select: none;
}

.product__additional-photos::-webkit-scrollbar {
    display: none;
}

.product__additional-photos img{
    height: 100%;
    object-fit: cover;
    width: 290px;
    cursor: pointer;
}








.product__info{
    grid-column: 6 / -1;
    height: 680px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.product__info-and-purchase{
    grid-column: 1 / -1;
}

.product__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    gap: 10px;
}

.product__header h1{
    font-size: clamp(8px, 1.9vw, 34px);
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #333333;
}

@media screen and (max-width: 1400px){
    .product{
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 1200px){
    .product{
        height: 100%;
    }

    .product__breadcrumbs-photos{
        grid-column: 1 / -1;
        height: 100%;
    }

    .product__photos{
        flex-direction: row;
        gap: 10px;
        background-color: #DF1322;
    }

    .product__photo-spicy{
        height: 100%;
        width: 75%;
    }

    .product__additional-photos{
        height: 450px;
        gap: 10px;
        overflow-x: hidden;
        flex-direction: column;
    }

    .product__additional-photos img{
        width: 100%;
        flex: 1;
        border-radius: 15px;
    }

    .product__breadcrumbs-photos::after{
        display: none;
    }

    .product__info{
        grid-column: 1 / -1;
        height: 100%;
        margin-top: 20px;
    }

    .product__info-and-purchase h1{
        font-size: clamp(12px, 4vw, 30px);
    }
}

@media screen and (max-width: 800px){
    .product__photos{
        flex-direction: column;
    }

    .product__photo-spicy{
        height: 455px;
        width: 100%;
    }
}

.product__header svg{
    background-color: #B75F6D;
    border-radius: 100%;
    color: #F1C232;
    cursor: pointer;
    padding: 5px;
    font-size: clamp(24px, 2vw, 30px);
}

.product__info-weight{
    display: flex;
    justify-content: space-between;
    align-items: end;
    grid-column: 1 / -1;
    border-bottom: solid 2px #333333;
    padding-bottom: 4px;
    margin-top: 25px;
    color: #333333;
    height: 30px;
}

.product__info-weight h2{
    font-size: clamp(16px, 2vw, 26px);
    font-weight: 400;
    margin: 0;
}

.product__info-weight p{
    font-size: clamp(16px, 2vw, 20px);
    margin: 0;
}

.product__info-ingredients {
    height: 100px;
    font-size: clamp(16px, 2vw, 20px);
    grid-column: 1 / -1;
    text-align: justify;
    line-height: 26px;
    color: #333333;
    overflow-y: auto;
}











.product__purchase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / -1;
    height: 40px;
}

.product__button--frozen{
    display: flex;
    align-items: center;
    background-color: #62DAFB;
    border-radius: 10px;
    height: 100%;
    max-width: 240px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-size: clamp(16px, 2vw, 20px);
    cursor: pointer;
    user-select: none;
    transition: ease-in-out 0.4s;
}

.product__button--frozen:hover{
    background-color: #2382ff;
}

.product__button--frozen svg{
    font-size: clamp(23px, 2vw, 25px);
}




.product__quantity-purchase{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 240px;
    height: 100%;
}





.product__quantity{
    background-color: #B75F6D;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 110px;
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: clamp(16px, 2vw, 20px);
}

.product__quantity p {
    text-align: center;
    align-content: center;
    width: 40%;
    user-select: none;
}

.product__quantity .icon {
    cursor: pointer;
}




.product__button--add-product{
    width: 110px;
    height: 100%;
    border-radius: 10px;
    font-size: clamp(16px, 2vw, 20px);
    background-color: #B75F6D;
    border: none;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}

.product__button--add-product:hover{
    background-color: #F1C232;
    color: #333333;
}

@media screen and (max-width: 800px){
    .product__purchase,
    .product__quantity,
    .product__button--add-product{
        height: 35px;
    }
}












.product__info-for-user{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-self: end;
    flex: 1;
    overflow: hidden;
}

.wrapper__product__info-for-user{
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow: hidden;
}

.product__info-card{
    max-width: 300px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    user-select: none;
    grid-column: span 2;
    overflow: hidden;
}

.product__info-card div{
    height: 40px;
    background-color: #B75F6D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    gap: 10px;
    border-bottom: solid 2px #333333;
    box-sizing: border-box;
    flex-shrink: 0;
}

.product__info-card div h2{
    font-size: clamp(8px, 1vw, 20px);
    text-align: center;
    margin: 0;
    color: #333333;
}

.product__info-card > p {
    flex: 1;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #F1C232;
    overflow-y: auto;
    font-size: clamp(8px, 1vw, 16px);
    text-align: center;
    color: #333333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product__info-card p::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 1200px) {
    .product__info-for-user{
        max-height: 200px;
    }

    .wrapper__product__info-for-user{
        grid-column: 1 / -1;
    }

    .product__info-card{
        grid-column: span 1;
    }

    .product__info-card div h2{
        font-size: clamp(12px, 2vw, 18px);
    }

    .product__info-card p{
        font-size: clamp(10px, 2vw, 16px);
    }
}

@media screen and (max-width: 1000px) {
    .product__info-for-user{
        max-height: 100%;
    }

    .product__info-card{
        grid-column: span 2;
        max-width: 100%;
    }
}

.product__additionalOffers{
    grid-column: 2 / 12;
    margin-top: 50px;
}

.additionalOffers__block{
    position: relative;
}

.additionalOffers__block::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 300px;
    width: 80px;
    z-index: 1;
    background: linear-gradient(to right, transparent, #FFF9F0);
}

.additionalOffers__header{
    border-bottom: solid 2px #333333;
    height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
}

.additionalOffers__header h2{
    font-size: 28px;
    color: #333333;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}



.additionalOffers__list{
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
}

.additionalOffers__list::-webkit-scrollbar{
    display: none;
}

.additionalOffers__list .cardDish {
    flex: 1 0 auto;
    height: 260px;
    width: 400px;
}

.additionalOffers__list .cardDish:hover{
    transform: scale(1.05);
}






.product__comments{
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    font-family: Roboto, sans-serif;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 300px;
}

.product__comments::-webkit-scrollbar{
    display: none;
}

.comment__card{
    grid-column: span 5;
    min-height: 100px;
    height: 100%;
    border-radius: 25px;
    background-color: #B75F6D;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment__card h1{
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    color: #FFF9F0;
    font-size: clamp(8px, 2vw, 24px);
    font-weight: 400;
}

.comment__info{
    flex: 1;
    display: flex;
    justify-content: space-between;
    color: #333333;
}

.comment__info-comment{
    height: 36px;
    width: 480px;
    border-radius: 10px;
    padding: 0 50px 0 10px;
    line-height: 25px;
    text-align: justify;
    box-sizing: border-box;
    background-color: #FFF9F0;
    transform: translateY(-3px);
    font-size: clamp(8px, 2vw, 16px);
    transition: ease-in-out 0.4s;
    position: relative;
}

.comment__info-comment p{
    margin: 5px 0 0 0;
    overflow: auto;
}

.comment__info-comment p::-webkit-scrollbar{
    display: none;
}

.comment__info-comment::before{
    content: "";
    position: absolute;
    top: 3px;
    right: 30px;
    border-right: solid 2px #333333;
    height: 30px;
}

.showComment{
    height: 100px;
}

.comment__info-comment .icon{
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}

.active{
    transform: rotate(90deg);
}

.comment__info-comment .icon:hover{
    transform: rotate(90deg);
}

.rating{
    cursor: pointer;
}

.comment__addition-comment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    width: 480px;
    transform: translateY(-3px);
    transition: ease-in-out 0.4s;
    gap: 10px;
}

.comment__addition-comment input{
    height: 100%;
    width: 100%;
    min-width: 100px;
    max-width: 430px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FFF9F0;
    font-size: clamp(8px, 2vw, 16px);
    padding: 0 10px;
    outline: none;
    font-family: Roboto, sans-serif;
    color: #333333;
}

.comment__addition-comment .icon{
    background-color: #FFF9F0;
    padding: 5px;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}