@import url('https://fonts.googleapis.com/css2?family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.product{
    grid-column: 2 / span 10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 20px;
    height: 680px;
}

.product__photos{
    grid-column: 1 / 6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    position: relative;
    padding: 0;
}

.product__photos::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 170px;
    background: linear-gradient(to right, transparent, #FFF9F0);
    width: 80px;
}

.product__photos .product__breadcrumbs{
    display: flex;
    align-items: end;
    color: #333333;
    height: 30px;
    margin-bottom: -15px;
}

.product__breadcrumbs .icon {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.product__breadcrumbs .icon svg {
    font-size: clamp(8px, 2vw, 30px);
    transform: translateY(20%);
}

.product__photos .product__link{
    font-size: clamp(8px, 2vw, 16px);
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    user-select: none;
    transition: ease-in-out, 0.4s;
    margin: 0;
}

.product__photos .product__breadcrumbs .product__link:nth-child(1):hover,
.product__photos .product__breadcrumbs .product__link:nth-child(3):hover{
    color: #F1C232;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.product__photos img{
    height: 455px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.product__photos .product__additional-photos{
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 20px;
    flex: 1;
    position: relative;
}

.product__photos .product__additional-photos::-webkit-scrollbar {
    display: none;
}

.product__photos .product__additional-photos img{
    height: 100%;
    object-fit: cover;
    width: 290px;
    cursor: pointer;
}








.product__info{
    grid-column: 6 / -1;
    height: 680px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.product__info-and-purchase{
    grid-column: 1 / -1;
}

.product__info-and-purchase h1{
    font-size: clamp(8px, 2vw, 34px);
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 400;
    height: 30px;
    color: #333333;
}

.product__info-weight{
    display: flex;
    justify-content: space-between;
    align-items: end;
    grid-column: 1 / -1;
    border-bottom: solid 2px #333333;
    padding-bottom: 4px;
    margin-top: 25px;
    color: #333333;
    height: 30px;
}

.product__info-weight h2{
    font-size: clamp(8px, 2vw, 26px);
    font-weight: 400;
    margin: 0;
}

.product__info-weight p{
    font-size: clamp(8px, 2vw, 20px);
    margin: 0;
}

.product__info-ingredients {
    height: 110px;
    font-size: clamp(8px, 2vw, 20px);
    grid-column: 1 / -1;
    text-align: justify;
    line-height: 26px;
    color: #333333;
    overflow-y: auto;
}











.product__purchase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / -1;
    height: 40px;
}

.product__button--frozen{
    display: flex;
    align-items: center;
    background-color: #62DAFB;
    border-radius: 10px;
    height: 40px;
    max-width: 240px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-size: clamp(8px, 2vw, 20px);
    cursor: pointer;
    transition: ease-in-out 0.4s;
}

.product__button--frozen:hover{
    background-color: #2382ff;
}




.product__quantity-purchase{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 240px;
    height: 100%;
}





.product__quantity{
    background-color: #B75F6D;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: clamp(8px, 2vw, 20px);
}

.product__quantity p {
    text-align: center;
    align-content: center;
    width: 40%;
}

.product__quantity .icon {
    cursor: pointer;
}




.product__button--add-product{
    width: 110px;
    height: 40px;
    border-radius: 10px;
    font-size: clamp(8px, 2vw, 20px);
    background-color: #B75F6D;
    border: none;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}

.product__button--add-product:hover{
    background-color: #F1C232;
    color: #333333;
}












.product__info-for-user{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
    justify-items: end;
}

.product__info-card{
    width: 100%;
    max-width: 290px;
    max-height: 180px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 2100px) {
    .product__info-for-user{
        grid-template-columns: repeat(3, 1fr);
    }
}

.product__info-card div{
    height: 45px;
    width: 100%;
    background-color: #B75F6D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    gap: 10px;
    border-bottom: solid 2px #333333;
    box-sizing: border-box;
}

.product__info-card div h2{
    font-size: clamp(8px, 1vw, 20px);
    margin: 0;
    color: #333333;
}

.product__info-card p{
    flex: 1;
    width: 100%;
    background-color: #F1C232;
    overflow-y: auto;
    margin: 0;
    padding: 13px;
    box-sizing: border-box;
    font-size: clamp(8px, 1vw, 16px);
    text-align: center;
    color: #333333;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.product__info-card p::-webkit-scrollbar{
    display: none;
}

.product__info-card:nth-child(1) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.product__info-card:nth-child(2) {
    grid-column: 4 / -1;
    grid-row: 1 / 2;
}

.product__info-card:nth-child(3) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.product__info-card:nth-child(4) {
    grid-column: 4 / -1;
    grid-row: 2 / 3;
}