@import url('https://fonts.googleapis.com/css2?family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.search{
    grid-column: 2 / span 10;
    display: flex;
    align-items: center;
    background-color: #B75F6D;
    height: 50px;
    border-radius: 15px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.search .icon{
    padding-right: 15px;
    color: white;
}

.search input {
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    border: none;
    border-left: solid 2px white;
    background-color: transparent;
    padding-left: 20px;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    color: white;
}

.search input::placeholder {
    color: white;
}

.search input:focus {
    outline: none;
}

.menuCategories{
    grid-column: 2 / span 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    gap: 10px;
    position: relative;
    overflow-x: auto;
}

.menuCategories::-webkit-scrollbar {
    display: none;
}

.menuCategories .arrowLeft,
.menuCategories .arrowRight{
    position: absolute;
}

.menuCategories .arrowRight{
    right: 0;
}

.menuCategories > .listCategory{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    height: 50px;
    background-color: #B75F6D;
    border-radius: 15px;
    padding: 0 10px;
    color: white;
    text-decoration: none;
}

.menuCategories > .listCategory h2{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.menuCategories .active{
    background-color: #F1C232;
}

.menuCategories .active h2{
    font-weight: 500;
    color: #333333;
}

.menuCategories .active .icon{
    display: none;
}

section{
    grid-column: 2 / span 10;
}

@media screen and (max-width: 1600px) {
    .search {
        margin-top: -40px;
    }

    .search, .menuCategories, section {
        grid-column: 1 / -1;
    }
}

.categoryName{
    grid-column: 1 / -1;
    padding-top: 40px;
    place-self: center;
    color: #333333;
    margin: 0;
}

.subcategories{
    border-bottom: solid 2px #333333;
    height: 40px;
    padding-left: 10px;
}

.subcategories h2{
    font-size: 24px;
    color: #333333;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.listDishes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    user-select: none;
}

@media screen and (max-width: 2100px) {
    .listDishes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1400px) {
    .listDishes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .listDishes {
        grid-template-columns: 1fr;
    }
}

.cardDish {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    padding: 20px;
}

.cardDish:hover{
    transform: scale(1.02);
}

.cardDish .dishInfo{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    gap: 10px;
    color: white;
}

.cardDish .dishInfo h1{
    max-width: 190px;
    font-size: 22px;
    height: 80px;
    font-weight: 400;
    margin: 0;
}

.cardDish .dishInfo p{
    margin: 0;
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .cardDish .dishInfo h1{
        font-size: 18px;
        max-width: 170px;
    }

    .cardDish .dishInfo p{
        font-size: 16px;
    }
}

.cardDish .dishActions{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
    margin-bottom: -5px;
    position: relative;
}

.cardDish .dishActions .fireIcon{
    position: absolute;
    top: 0;
    color: #DF1322;
}

.cardDish .dishActions input{
    height: 35px;
    width: 80px;
    border: none;
    background-color: #B75F6D;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    transition: all ease-in-out 0.4s;
}

.cardDish .dishActions span{
    height: 36px;
}

.cardDish .dishActions .icon{
    background-color: #62DAFB;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}