-- DropForeignKey
ALTER TABLE "public"."dish_comments" DROP CONSTRAINT "fk_dishid_dishcomments";

-- DropForeignKey
ALTER TABLE "public"."dish_comments" DROP CONSTRAINT "fk_userid_dishcomments";

-- DropForeignKey
ALTER TABLE "public"."dish_images" DROP CONSTRAINT "fk_dishimages_dishes";

-- DropForeignKey
ALTER TABLE "public"."dishes" DROP CONSTRAINT "fk_dishes_subcategory";

-- DropForeignKey
ALTER TABLE "public"."favorites" DROP CONSTRAINT "fk_favorites_dishes";

-- DropForeignKey
ALTER TABLE "public"."favorites" DROP CONSTRAINT "fk_favorites_users";

-- DropForeignKey
ALTER TABLE "public"."order_dish" DROP CONSTRAINT "fk_dishes_orderdish";

-- DropForeignKey
ALTER TABLE "public"."order_dish" DROP CONSTRAINT "fk_orders_orderdish";

-- DropForeignKey
ALTER TABLE "public"."orders" DROP CONSTRAINT "fk_users_orders";

-- DropForeignKey
ALTER TABLE "public"."restaurants" DROP CONSTRAINT "restaurant_city";

-- DropForeignKey
ALTER TABLE "public"."sub_categories" DROP CONSTRAINT "fk_subcategories_categories";

-- DropTable
DROP TABLE "public"."categories";

-- DropTable
DROP TABLE "public"."cities";

-- DropTable
DROP TABLE "public"."dish_comments";

-- DropTable
DROP TABLE "public"."dish_images";

-- DropTable
DROP TABLE "public"."dishes";

-- DropTable
DROP TABLE "public"."favorites";

-- DropTable
DROP TABLE "public"."order_dish";

-- DropTable
DROP TABLE "public"."orders";

-- DropTable
DROP TABLE "public"."partners";

-- DropTable
DROP TABLE "public"."restaurants";

-- DropTable
DROP TABLE "public"."sale";

-- DropTable
DROP TABLE "public"."sub_categories";

-- DropTable
DROP TABLE "public"."users";

