@import url('https://fonts.googleapis.com/css2?family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.restaurant__header{
    grid-column: 2 / 12;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Roboto, sans-serif;
    user-select: none;
    margin-bottom: 30px;
}

.restaurant__header--title{
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    padding: 0 0 2px 5px;
    margin: 0;
    border-bottom: solid 2px #333333;
}

.restaurant__header--title span{
    color: #F1C232;
}

.restaurant__header--cities{
    grid-column: 2 / 12;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.header__cities--bloc{
    background: #B75F6D;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0 20px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    white-space: nowrap;
}

.header__cities--bloc:hover{
    background-color: #F1C232;
    color: #333333;
}

.header__cities--bloc.active{
    background-color: #F1C232;
    color: #333333;
}

.header__cities--bloc h2{
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.restaurant__body{
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    font-family: Roboto, sans-serif;
    margin-bottom: 30px;
}

.restaurant__body--card{
    grid-column: span 5;
    height: 380px;
    background-color: #F1C232;
    border-radius: 30px 60px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.card__restaurant--information{
    width: 50%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.restaurant__information--breadcrumbs{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    gap: 6px;
}

.information__breadcrumbs--address{
    font-size: clamp(16px, 1.8vw, 22px);
    font-weight: 500;
    color: #333333;
    margin: 0;
}

.information__breadcrumbs--timeWork{
    color: #B75F6D;
    margin: 0;
}

.information__breadcrumbs--tel{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.information__breadcrumbs--tel svg{
    font-size: 30px;
    background-color: #B75F6D;
    border-radius: 100%;
    padding: 3px;
    box-sizing: border-box;
    color: white;
}

.information__breadcrumbs--tel span{
    font-size: 17px;
    padding-bottom: 2px;
    color: #333333;
}

.restaurant___information--description{
    text-align: center;
    font-size: 17px;
    color: #333333;
    max-height: 140px;
    overflow: auto;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.restaurant___information--description::-webkit-scrollbar {
    width: 6px;
}

.restaurant___information--description::-webkit-scrollbar-thumb {
    background: #B75F6D;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.restaurant___information--button{
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 120px;
    min-height: 40px;
    background-color: #B75F6D;
    color: #FFF9F0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.restaurant___information--button svg{
    font-size: 24px;
}

@media screen and (max-width: 1000px){
    .card__restaurant--information{
        height: 100%;
        width: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
    }

    .information__breadcrumbs--address{
        font-size: clamp(24px, 2vw, 26px);
        color: white;
    }

    .information__breadcrumbs--timeWork{
        font-size: 19px;
        color: #F1C232;
    }

    .information__breadcrumbs--tel svg{
        font-size: 35px;
    }

    .information__breadcrumbs--tel span,
    .restaurant___information--description{
        font-size: 19px;
        color: white;
    }

    .restaurant___information--button svg{
        font-size: 24px;
    }
}

@media screen and (max-width: 700px) {
    .restaurant__body--card{
        grid-column: 1 / -1;
    }
}

.card__restaurant--image{
    width: 50%;
    object-fit: cover;
}

@media screen and (max-width: 1000px){
    .card__restaurant--image{
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

.restaurant__map{
    grid-column: 2 / 12;
    height: 630px;
}

@media screen and (max-width: 1500px) {
    .restaurant__header,
    .restaurant__body,
    .restaurant__map{
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 600px){
    .restaurant__map{
        height: 450px;
    }
}